ul.smothscroll {
    position: fixed;
    bottom: 25px;
    right:30px;
    list-style: none;
    z-index: 99;
}
ul.smothscroll button {
    background-color: rgba(66, 198, 82, 0.7);
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius:50%;
    display: block;
    text-align: center;
    color: #fff;
    background-size: 200%,1px;
    background-position: 0;
    border: 2px solid #42C652;
}
ul.smothscroll button:hover {
    background-color:#42C652;
    color: #fff;
}

@media(max-width:767px){
    ul.smothscroll button {
        width: 30px;
        height: 30px;
        line-height: 25px;
    }
}